html {
  height: 100%;
  width: 100%;
}

#name {
  position: absolute;
  left: 280px;
  top: -10px;
}

#imag3 {
  height: 450px;
  width: 450px;
  position: relative;
  top: 550px;
  margin-bottom: 210px;
  left: 530px;
}

#imagee {
  z-index: -2;
  width: 1500px;
 position: absolute;
  left: -1px;
  top: -3px;
}

#firstxt {
  position: absolute;
  top: 950px;
  margin-bottom: 90px;
  width: 830px;
  left: 400px;
  background-color: purple;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

button {
position: absolute;
  background-color: #8df98b;
  top: 700px;
  left: 510px;
  border: 5px solid #000000;
  color: black;
  border-radius: 15px;
  padding: 5px;
  font-size: 20px;
  font-family: "Delius Swash Caps", cursive;
}

#option1 {
top: 720px;
background-color: #d23737;
}

#option2 {
top: 790px;
background-color: #5d7cf9;
}

#option3 {
top: 720px;
background-color: #dd4b4b;
}

#option4 {
top: 790px;
background-color: #ea6c98;
}

#option5 {
top: 720px;
  left: 50px;
background-color: #99ca4e;
}

#option6 {
top: 790px;
  left: 50px
background-color: #c873d9;
}

#option7 {
top: 860px;
  left: 50px;
background-color: #d35a5a;
}

#gameOver {
  font-family: "Tourney", sans-serif;
  background-color: #290000;
  color: #ff3838;
  top: 750px;
}





// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.tourney-<uniquifier> {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}